* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeee;
}
header, nav,footer{
    width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 50px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;

}

header{
    text-align: center;
    height: 400px;
    line-height: 50px;
   
    
    
}
header img{
    border-radius: 50%;
    border: 5px solid green;
    width: 150px;
    height: 150px
}
nav {

    text-align: center;

}
nav a{
    margin: 20px;
    text-decoration: none ;
    font-size: 18px;
    font-weight: bold;
}
nav a:hover{
    font-size: 20px;
}
main{
    width: 900px;
    margin: 0 auto;
    
   
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
 main h2{
    border-bottom:5px solid green ;
 }
main p {
    font-size: 16px;
    margin: 8px 0;
}
section{
    margin: 20px 0;
    background-color: white;
     padding: 50px 30px;
     border-radius: 10px;
}
#malakalar{
    line-height: 25px;
}
#malakalar ul{
    margin-left: 20px;
}
#Ish-tajriba article{
    background-color: #eeee;
    margin: 15px 0;
    padding: 25px;
    border-radius: 5px;

}
article ul{
    margin-left: 20px;
}
table{
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    height: 30px;
    padding: 5px;
}
textarea{
    width: 100%
}
form button{
    width: 120px;
    height: 40px;
}
form button{
    background-color: green;
    color: #eeee;
    border-radius: 5px;
    border: none;
}
footer {
    line-height: 30px;
    text-align: center;
    background-color: black;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}

.hub{
    color: #a5a2a2ee;
}


